.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;

  margin: 0 auto;
  width: 90%;
  max-width: 935px;
}

.login_form_container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 24px 40px;

  border: 1px solid #dbdbdb;
  width: 100%;
}

.login_info_container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  min-width: 380px;
}

.login_form {
  display: flex;
  flex-direction: column;
  gap: 6px;

  width: 100%;
}

.login_forgot_pass {
  color: #00376b;
  font-size: 12px;
}

.login_sign_up_block {
  padding: 24px 40px;
  border: 1px solid #dbdbdb;

  font-size: 14px;
  text-align: center;
}

.login_to_sign_up {
  padding: 0 8px;
  font-size: 14px;
  font-weight: 600;
  color: #0095f6;
}

button {
  margin-top: 16px;
}

.error_message {
  font-size: 12px;
  color: #eb4236;
  font-weight: 600;
  margin-top: 4px;
}
