.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;

  margin: 0 auto;
  width: 90%;
  max-width: 935px;
}

.login_form_container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 24px 40px;

  border: 1px solid #dbdbdb;
  width: 100%;
}

.login_info_container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  min-width: 380px;
}

.login_form {
  display: flex;
  flex-direction: column;
  gap: 6px;

  width: 100%;
}

.login_form_divider {
  position: relative;

  margin-top: 16px;
  margin-bottom: 64px;

  padding: 8px 18px;
  font-size: 15px;
  font-weight: 600;
  color: #737373;

  background-color: #fff;
}

.login_form_divider::after {
  position: absolute;
  z-index: -1;

  top: 50%;
  right: -100px;

  content: "";
  width: 260px;
  height: 1px;

  background-color: #dbdbdb;
}

.login_forgot_pass {
  color: #00376b;
  font-size: 12px;
}

.login_sign_up_block {
  padding: 24px 40px;
  border: 1px solid #dbdbdb;
}

.login_to_sign_up {
  padding: 0 8px;
  font-size: 14px;
  font-weight: 600;
  color: #0095f6;
}

button {
  margin-top: 16px;
}
