.login_form_divider {
  position: relative;

  margin-top: 16px;
  margin-bottom: 64px;

  padding: 8px 18px;
  font-size: 15px;
  font-weight: 600;
  color: #737373;

  background-color: #fff;
}

.login_form_divider::after {
  position: absolute;
  z-index: -1;

  top: 50%;
  right: -100px;

  content: "";
  width: 260px;
  height: 1px;

  background-color: #dbdbdb;
}
