.post_container {
  display: flex;
}

.post_img {
  width: 577px;
  height: 722px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.post_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.post_contents {
  display: grid;
  grid-auto-rows: min-content;
  max-width: 423px;
}

.post_actions {
  display: flex;
  align-items: center;

  padding: 4px 0 4px 72px;
}

.post_editing {
  display: flex;
  gap: 16px;

  margin-left: auto;
}

.post_editing button {
  margin: 0;
  border: none;
  background-color: transparent;
  color: #ed4956;
}

.post_editing button,
.post_editing a {
  font-size: 12px;
  font-weight: 600;
}

.post_editing a {
  color: #0095f6;
}
