.comment_container {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 4px 14px;
}

.username_link {
  justify-self: left;

  font-weight: 600;
  color: #262626;
}

.comment_text {
  font-size: 12px;
}
